<h1>D's Appointment App</h1>

<p>Keep track of your appointments and clients at multiple locations.</p>

<div>
  For more apps by developer visit <a href="https://dannydarku.herokuapp.com/"> Danny's Personal Site </a>
</div>